# Nunca preencher este ficheiro com segredos no GitHub.
ROR_CLIENT_ID=
ZENODO_TOKEN=
ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=
ORCID_TOKEN=
DATACITE_REPOSITORY_ID=
DATACITE_PASSWORD=
CODEBERG_BASE_URL=https://codeberg.org
CODEBERG_TOKEN=
FORGEJO_BASE_URL=
FORGEJO_TOKEN=
NEXTCLOUD_BASE_URL=
NEXTCLOUD_USER=
NEXTCLOUD_APP_PASSWORD=
FIWARE_BROKER_URL=
FIWARE_TOKEN=

